@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Variables */
:root{

    /* COLORS */
    --primary-color: #f03a47;
    --secondary-color: #AF5B5F;
    --font-color: #ffff;
    --alt-color:#f6f4f3;
    --background-color:#183059;
    
    /* FONT FAMILY */

    --primary-font: 'Poppins', sans-serif;
    --secondary-font:'Ubuntu',sans-serif;

    /* Font size for navbar */

    --logo-font-size:23px;
    --nav-font-size:13px;

    /* Font size for Section Ttile */
    --section-title-font-size: 2.3rem;

    /* Font size for home section */
    --home-text1-size:30px;
    --home-text2-size:45px;
    --home-text3-size:36px;
    --home-subtitle-size:17px;
    --home-button-size: 15px;

    /* Font size for about section */
    --about-content-size:1.3rem;

    /* Font size for hometown section */
    --hometown-content-size:1rem;

    /* Font size for mytastes section */
    --mytaste-title-size:1.3rem;
    --mytaste-content-size:0.9rem;

    /* Font size for skills section  */
    --skills-group-title-size: 1.4rem;
    --skills-skill-title-size: 1.1rem;
    --skills-percentage-size:1rem;

    /* Font Size for Animations section */
    --animations-link-size: 1.5rem;
    --animations-desc-size: 1rem;

    /* Font Size for Timetable */
    --timetable-heading-size: 1rem;
    --timetable-content-size: 1rem;
}

/* Reset All html elements */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--secondary-font);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    
}

/* reusable style */

section{
    max-width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    padding: 0 60px;
}

.section-title{
    position: relative;
    font-size: var(--section-title-font-size);
    font-family: var(--primary-font);
}

.section-title::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
    transform: translateY(-3px);
}

span{
    color: var(--primary-color);
}

.btn{
    color: white;
    font-weight: 500;
    display: flex;
    width: 150px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    transition: 0.3s;
    border: solid 2px var(--primary-color);
}

.btn:hover{
    background-color: transparent;
    border: solid 2px var(--primary-color);
    color: var(--primary-color);

}

/* Navbar Menu Style*/

.navbar{
    width: 100vw;
    font-family: var(--primary-font);
    background-color: var(--background-color);
    position: fixed;
    padding: 8px 0 8px 0;
    z-index: 100;
    transition: transform 0.2s ease-in-out;
    border-bottom: 2px solid black;
}

.navbar.scrolled{
    transform: translatey(-100px);
    transition: transform 0.2s ease-in-out;
    
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    display: inline-block;
    padding: 0 25px;
}

.navbar .menu a{
    color: var(--alt-color);
    font-size: var(--nav-font-size);
    font-weight: 600;
    transition-duration: 0.1s ;
}

.navbar .menu a.active{
    color: var(--primary-color);

}
.navbar .menu a:hover{
    color: var(--primary-color);
}

.navbar .logo{
    color: var(--alt-color);
    font-size: var(--logo-font-size);
    font-weight: 600;
}

.navbar .nav-btn{
    display: none;
    color: white;
}

/* End of Navbar style */


/* Home Section Style*/

#home-section{
    display: flex;
    background-color: var(--background-color) ;
    height: 100vh;
    color: var(--alt-color);
}

#home-section .container{
    margin: auto 0;
    font-family: var(--primary-font);
    font-weight: 600;
    z-index: 1;
    width: 70%;
}

#home-section #text-1{
    font-size: var(--home-text1-size);
}
#home-section #text-2{
    font-size: var(--home-text2-size);
}

#home-section #text-3{
    font-size: var(--home-text3-size);
    display:inline-block;
    overflow: hidden;
}


/* Typing Animation */

.typing-animation{
    position: relative;
    margin-left: 12px;
}


.typing-animation::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--primary-color);
    left: 0; 
    background-color: var(--background-color);
    animation: blink 0.5s infinite, type 3.5s steps(20) infinite; 
}


@keyframes blink {
    0%{
        border: var(--primary-color);
    }
}

@keyframes type{
    100%{
        left: 100%;
        margin-left: 65px;
    }
}

/* end of typing animation */

#home-section #sub-title{
    font-family: var(--secondary-font);
    width: 500px;
    line-height: 30px;
    font-weight: 500;
    font-size: var(--home-subtitle-size);
}

#home-section .btn{
    font-size: var(--home-button-size);
}

#home-section #image{
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    right: 0;
}

/* end of home section style */


/* contact section style  */

#contact-section{
    height: 90vh;
}
#contact-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px ;
}

#contact-section form{
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}


#contact-section form input:nth-child(-n+3){
    display: block;
    margin: 10px auto;
    border: 2px solid black;
    height: 2.5rem;
    padding-left: 10px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
}

#contact-section form input:nth-child(1){
    float: left;
    width: 49%;
    margin-right: 10px;
}

#contact-section form input:nth-child(2){
    float: left;
    width: 49%;
}
#contact-section form textarea{
    width: 100%;
    resize: none;
    border: 2px solid black;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
}

#contact-section .btn{
    width: 120px;
    height: 40px;
    margin: 20px auto;
}

#contact-section #my-email{
    margin-top: 70px;
    text-align: center;
    margin-bottom: 10px;
}

#contact-section #my-email a{
    color: black;
}

/* end of contact section style */
 
/* About section style */

#about-section{
    position: relative;
    background: var(--background-color);
}

#about-section .section-content{
    display: flex;
    height: 100vh;
    justify-content: space-between;

}
#about-section .container{
    top: 80px;
}

#about-section .section-title{
    display: inline-block;
    margin-top: 60px;
    color: white;
}

#about-section ul{
    display: inline-block;
    list-style-type: initial;
    background: white;
    line-height: 2.5rem;
    border-radius: 20px;
    font-size: var(--about-content-size);
    font-weight: 600;
    padding: 50px;
    height: 50%;
    margin-top: 100px;
}

#about-section #image-1{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    opacity: 0.8;
    border: 2px solid black;
}

#about-section #image-2{
    display: none;
}



/* end of about section style */

/* Hometown section style */

#hometown-section{
    background: var(--background-color);
}

#hometown-section .section-title{
    color: white;
    display: inline-block;
    margin-top: 30px;
}

/* slider Animation */

#slider{
    position: relative;
    margin-top: 80px;
    width: 100%;
    height: auto;
    overflow: hidden; 
}

#slider p{
    font-size: var(--hometown-content-size);
}

input[type="radio"]{
    display: none;
}

#slides-container{
    width: 400%;
    display: flex;
    transition: all 1s;
}

#slide1, #slide2, #slide3{
    display: flex;
    justify-content: center;
    width: 100vw;
}

#slider1:checked ~ #slides-container{
    transform: translateX(0);
}

#slider2:checked ~ #slides-container{
    transform: translateX(-100vw);
}
#slider3:checked ~ #slides-container{
    transform: translateX(-200vw);
}

#arrow-control{
    display: flex;
    position: absolute;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 85%;
    margin-left: 50px;
}

#arrow-control img{
    height: 50px;
    width: 50px;
    opacity: 0.3;
} 

#arrow-control #prev_slide img:nth-child(1){
    transform: rotate(180deg);
}

#prev_slide, #next_slide{
    cursor: pointer;
}

#bullet-nav{
    margin-top: 50px ;
    text-align: center;
}

#bullet-nav label{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #5c5c5c;
    cursor: pointer;
    margin-right: 10px;
}

#slider1:checked ~ #bullet-nav label:nth-child(1){
    background-color: white;
}

#slider2:checked ~ #bullet-nav label:nth-child(2){
    background-color: white;

}
#slider3:checked ~ #bullet-nav label:nth-child(3){
    background-color: white;

}

.slide-content{
    display: flex;
    width: 1000px;
    padding: 0 50px;
    color: white;
    text-align: left;
    line-height: 2rem;
}

.slide-content div{
    margin-left: 45px;
    margin: auto 45px;

}


.slide-content img{
    width: 450px ;
    height: auto;
    border-radius: 25px;
}

/* end of Hometown section style */


/* mytaste section */

#mytaste-section{
    background: var(--background-color);
}


#mytaste-section .section-title{
    display: inline-block;
    color: white;
}

#mytaste-section .section-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;

}

/* image card animation */

#mytaste-section .card{
    position: relative;
    margin-top: 50px;
    width: 25vw;
    height: 70vh;
    border-radius: 20px;
    transition: all 0.5s;
}

#mytaste-section .card img{
    position: absolute;
    width: 100%;
    border-radius: 20px;
    transition: all 0.5s;
    z-index: 2;
}

#mytaste-section .card .card-content{
    position: absolute;
    color: white;
    width: 100%;
    height: auto;
    border: 2px solid white;
    background: var(--primary-color);
    margin-top: 120px;
}

#mytaste-section .card:hover, #mytaste-section .card:active {
    transform: scale(1.1);
}

#mytaste-section .card img:hover{
    opacity: 0.1;
}

#mytaste-section .card-title{
    font-weight: 600;
    margin: 10px;
    font-size: var(--mytaste-title-size);
}

#mytaste-section .card-desc{
    font-weight: 500;
    font-family: var(--primary-font);
    font-size: var(--mytaste-content-size);
    margin: 10px;
    margin-top: 20px;
}

/* end of mytaste section style */


/* My Skills Page style */

#myskill-section{
    background: var(--background-color);
    height: 100vh;
}

#myskill-section .section-title{
    color: white;
    display:inline-block;
    margin-top: 70px;
}


#myskill-section .section-content #skills-groups{
    margin-top: 50px;
    height: auto;
    display: flex;
    justify-content: space-between;
    color: white;
}


#myskill-section .skills-group{
    height: auto;
    width: 45%;
}

#myskill-section .group-title{
    font-size: var(--skills-group-title-size);
}

#myskill-section .skill-title{
    font-size: var(--skills-skill-title-size);
}

#myskill-section p{
    font-size: var(--skills-percentage-size);
}


#myskill-section .skills-group .group-title{
    text-align: center;
}

#myskill-section .group-content{
    margin-top: 20px;
}

.skills-group .skill{
    margin-bottom: 20px;
    width: 100%
}

/* Bar percentage animation */

.skills-group .bar-percentage{
    display: flex;
    margin: 10px 0;
}

.skills-group .bar{
    position: relative;
    width: 100%;
    height: 15px;
}

.skills-group .bar::before{
    content: "";
    position: absolute;
    display: block;
    height: 15px;
    background-color: var(--primary-color); 
    animation: fill 1.5s forwards;
}

.skills-group .bar.one::before{
    width: 92%;
}
.skills-group .bar.two::before{
    width: 56%;
}
.skills-group .bar.three::before{
    width: 80%;
}
.skills-group .bar.four::before{
    width: 63%;
}

.skills-group .bar.five::before{
    width: 82%;
}
.skills-group .bar.six::before{
    width: 50%;
}
.skills-group .bar.seven::before{
    width: 70%;
}
.skills-group .bar.eight::before{
    width: 90%;
}

@keyframes fill{
    0%{
        width: 0%;
    }
}


.skills-group .bar::after{
    content: "";
    position: absolute;
    display: block;
    height: 15px;
    width: 100%;
    background-color: var(--secondary-color);
    opacity: 0.5;

}

/* end of bar percentage animation */

.skills-group p{
    margin-left: 20px;
    font-weight: 500;
}

#myskill-section .btn{
    font-size: var(--skills-button-size);
}

/* end of may skill section style */

/* Animations section style */

#animations-section{
    background-color: var(--background-color);
    height: auto;
}

#animations-section .section-title{
    color: white;
    display:inline-block;
    margin-top: 70px;
}

#animations-section a{
    color: var(--secondary-color);
    font-weight: 700;
    font-size: var(--animations-link-size);
    transition: all 0.2s;
}

#animations-section p{
    font-size: var(--animations-desc-size);
}

#animations-section a:hover{
    color: var(--primary-color);
}

#animations-section .animation{
    margin: 30px 0;
    color: white;
}

#animations-section .container{
    min-height: 100vh;
    border: 1px solid var(--background-color);
}

/* end of Animations section style */


/* Timetable section style*/

table, th, td {
    border: 2px solid white;
    border-collapse: collapse;

  }

#timetable-section{
    height: auto;
} 

#timetable-section .container{
    min-height: 100vh;
    border: 1px solid var(--background-color);
}

#timetable-section #wrapper{
    overflow-x: auto;
}

table{
    width: 1100px;
}

th{
    font-size: var(--timetable-heading-size);
}

td{
    width: 100px;
    height: 70px;
}


#timetable-section{
    background-color: var(--background-color);
    color: white;
}

#timetable-section .container{
    width: 100vw;
}

#timetable-section .section-title{
    color: white;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 30px;
}

#timetable-section .unit{
    height: 100%;
    width: 100%;
    text-align: center;

}

#timetable-section .unit p{
    display: inline-block;
    color: black;
    margin-top: 13%;
    font-size: var(--timetable-content-size);
}

#timetable-section #cos10005{
    background-color: #01CCCC;

}
#timetable-section #cos10005-lab{
    background-color: #01CCCC;
    transform: translateX(55%);
}

#timetable-section #ict10001{
    background-color: #CCCCFF;
}

#timetable-section #inf10002{
    background-color: #FF99CC;
}

#timetable-section #inf10003{
    background-color: #CCCC99;
}


/* Smaller Lanscape screen */

@media screen and (max-width: 1028px) {


    /* navbar style */
    .navbar{
        background-color: var(--primary-color);
        transition: background-color 0.5s;
    }

    .navbar .logo span{
        color: white;
    }

    .navbar .menu{
        height: 100vh;
        position: fixed;
        width: 100vw;
        left: 0;
        top: 0;
        background-color: var(--primary-color);
        text-align: center;
        clip-path: circle(83px at 100% -30%);
        -webkit-clip-path: circle(83px at 100% -30%);
        transition: clip-path 0.5s ease-out;
        padding-top: 50px;
    }

    .navbar .menu.clicked{
        clip-path: circle(1500px at 100% -30%);
        -webkit-clip-path: circle(1500px at 100% -30%);
    }

    .navbar .menu li{
        display: block;
        margin: 40px 0;
    }

    .navbar .menu a{
        color: white;
        font-size: 20px;
    }

    .navbar .menu a:hover{
        color: black;
    }

    .navbar.scrolled{
        transform: translateY(0);
    }

    .navbar .nav-btn{
        display: block;
        cursor: pointer;
        filter: invert(100%);
        transform: translatex(30px);
    }

    /* Home section style */

    #home-section #text-1{
        font-size: 25px;
    }
    #home-section #text-2{
        font-size: 30px;
    }
    
    #home-section #text-3{
        font-size: 28px;
    }

    #home-section #sub-title{
        width: 400px;
        font-size: 14px ;
    }

    #home-section .btn{  
        font-size: 13px;
        width: 120px;
        height: 40px;
        margin-top: 45px;
    }

    /* Contact section */

    #contact-section{
        height: auto;
    }

    #contact-section form{
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }

    #contact-section form input:nth-child(1){
        float: none;
        width: 100%;
    }
    
    #contact-section form input:nth-child(2){
        float: none;
        width: 100%;
    }

    /* About Section */

    #about-section ul{
        margin-top: 20px;
    }

    #about-section #image-1{
        display: none;
    }

    #about-section #image-2{
        display: block;
        height: auto;
        width: 150px;

    }
    #about-section .section-content{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 20px;
    }
        
    /* Hometown section */


    #hometown-section{
        height: auto;
    }

    #slider{
        padding-bottom: 20px;
    }

    .slide-content{
        font-size: 0.9rem;
    }

    .slide-content img{
        width: 350px ;
    }

    /* Mytaste section */

    #mytaste-section .card img{
        z-index: 0;
        width: 200px;
        border-radius: 20px;
        height: 300px;
    }

    #mytaste-section .card:hover{
        transform: none;
    }

    #mytaste-section .card img:hover{
        opacity: 1;
    }

    #mytaste-section .card .card-content{
        height: 250px;
        width: 200px;
        margin-top: 200px;
        border:none;
        border-top: 2px solid white;
        border-radius: 0 0 20px 20px;
    }

    #mytaste-section .card-title{
        font-size: 1rem;
    }

    #mytaste-section .card-desc{
        font-size: 0.8rem;
    }


    /* skills section */

    #myskill-section{
        height: 100vh;
    }

    #myskill-section .container{
        height: auto;
    }

    #myskill-section .section-content{
        height: auto;
    }

    #myskill-section .group-title{
        font-size: 2.2vw;
    }
    
    #myskill-section .skill-title{
        font-size: 1.7vw;
    }
    
    #myskill-section p{
        font-size: 1.5vw;
    }
    
    /* Animation Section */

    #animations-section a{
        font-size: 1.4rem;
    }
    
    #animations-section p{
        font-size: 0.8rem;
    }

    /* timetable section */

    th{
        font-size: 0.8rem;
    }
}

/* Large Potrait Screen such as table*/


@media screen and (max-width: 768px) {
    .navbar{
        background-color: var(--primary-color);
    }

    /* Section-title */

    .section-title{
        font-size: 2rem;
    }

    /* Home section style */

    #home-section #text-1{
        font-size: 25px;
    }
    #home-section #text-2{
        font-size: 30px;
    }
    
    #home-section #text-3{
        font-size: 28px;
    }

    #home-section #sub-title{
        width: 100%;
        font-size: 15px ;
    }

    #home-section{
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
    }

    #home-section #image{
        position: relative;
        width: 100%;

    }
    #home-section .container{
        font-family: var(--primary-font);
        font-weight: 600;
        z-index: 1;
        width: 100%;
        margin-top: 120px; 
    }


    /* About Section */

    #about-section{
        height: auto;
    }

    #about-section ul{
        font-size: 1rem;
        padding: 20px 50px;
    }

    /* Hometown section */

    .slide-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slide-content div{
        width: 80%;
        text-align: center;
        font-size: 0.9rem;
    }
    .slide-content img{
        width: 350px;
        margin-bottom: 30px;
    }

    /* Mytaste section */

    #mytaste-section{
        height: auto;
    }

    #mytaste-section .section-content{
        display: block;
        justify-content: unset;
        padding-bottom: 20px;
        
    }

    #mytaste-section .card{
        display: flex;
        width: 100%;
        height: auto;
    }


    #mytaste-section .card img{
        position: relative;
        width: 30%;
        height: 200px;
        border-radius: 0;
    }

    #mytaste-section .card .card-content{
        position: relative;
        height: 200px;
        width: 100%;
        margin-top: 0;
        border-radius: 0;
        border: 2px solid white;
    }

    #mytaste-section .card-title{
        font-size: 0.9rem;
    }

    #mytaste-section .card-desc{
        font-size: 0.7rem;
    }

    /* skill section */

    #myskill-section{
        height: auto;
    }

    #myskill-section .container{
        height: auto;
        border: 2px solid var(--background-color);
    }

    #myskill-section .section-content{
        height: auto;
    }

    #myskill-section .group-title{
        font-size: 2.5vw;
    }
    
    
    #myskill-section .skill-title{
        font-size: 2.2vw;
    }
    
    #myskill-section p{
        font-size: 2vw;
    }

    #myskill-section .btn{
        margin-top: 15%;
        margin-bottom: 10%;
    }

    #myskill-section .section-content #skills-groups{
        margin-top: 50px;
        height: auto;
        display: block;
        width: 100%;
        color: white;
    }

    #myskill-section .skills-group{
        width: 100%;
    }

    #myskill-section .skills-group:nth-child(1){
        margin-bottom: 10%;
    }

    /* animation section */

    #animations-section a{
        font-size: 1.2rem;
    }
    
    #animations-section p{
        font-size: 0.8rem;
    }

    #animations-section .animation:last-child{
        margin-bottom: 30px;
    }
    
}